# source /usr/share/cachyos-fish-config/cachyos-config.fish

function fish_greeting
  {{- if eq .chezmoi.hostname "ubuntu" }}
    if test -z "$TMUX"
        tmux new -As default
    end
  {{- else }}
   fastfetch
  {{- end }}
end

# Add ~/.local/bin to PATH
if test -d ~/.local/bin
    if not contains -- ~/.local/bin $PATH
        set -p PATH ~/.local/bin
    end
end

# Add depot_tools to PATH
if test -d ~/Applications/depot_tools
    if not contains -- ~/Applications/depot_tools $PATH
        set -p PATH ~/Applications/depot_tools
    end
end

# Fish command history
function history
    builtin history --show-time='%F %T '
end

# Copy DIR1 DIR2
function copy
    set count (count $argv | tr -d \n)
    if test "$count" = 2; and test -d "$argv[1]"
        set from (echo $argv[1] | trim-right /)
        set to (echo $argv[2])
        command cp -r $from $to
    else
        command cp $argv
    end
end

set -U fish_complete_path $fish_complete_path /nix/var/nix/profiles/default/share/fish/vendor_completions.d
set -Ux EDITOR nvim
set -U fish_history_max 1000

{{ if eq .chezmoi.hostname "ubuntu" }}
    fish_add_path /opt/nvim-linux-x86_64/bin
{{ end }}

alias vim='nvim'
alias cd='z'
alias ls='eza --icons=always --color=always'
alias untar='tar -zxvf '
alias grep='grep --color=auto'
alias cleanup='sudo pacman -Rns (pacman -Qtdq)'

chezmoi completion fish | source
direnv hook fish | source
zoxide init fish | source
starship init fish | source
chezmoi completion fish | source
