autoload -Uz compinit
compinit

setopt correctall

autoload -U promptinit
promptinit 

{{ if eq .chezmoi.hostname "gentoo" }}
prompt gentoo
{{ end }}

zstyle ':completion::complete:*' use-cache 1

export HISTFILE=~/.zsh_history
export SAVEHIST=1000
export HISTSIZE=1000

bindkey '^R'    history-incremental-search-backward
bindkey '^r' history-incremental-pattern-search-backward

setopt hist_ignore_space
setopt hist_ignore_dups
setopt appendhistory
unsetopt beep

export EDITOR='nvim'
alias vim='nvim'
alias cd='z'
alias ls='eza --icons=always'

export path

{{ if eq .chezmoi.hostname "gentoo" }}
type starship_zle-keymap-select >/dev/null || \
  {
    eval "$(starship init zsh)"
  }
eval "$(zoxide init zsh)"
eval "$(direnv hook zsh)"

source /usr/share/zsh/site-functions/zsh-autosuggestions.zsh
source /usr/share/zsh/site-functions/zsh-syntax-highlighting.zsh
{{ else if eq .chezmoi.os "darwin" }}

{{ end }}

fastfetch
